<!DOCTYPE html>
        <div class="pizza_footer">
            <div class="footer-content">
                <p>World Pizza: Your Pizza Review Hub</p>
                <p>2021</p>
                <p>Created by Team World Pizza &#127829;</p>
            </div>
        </div>
    </body>
</html>