<body>
    <header>
      <h1>World Pizza - Social Media, for Pizza!</h1>
      <% if(user){%>
        <nav>
            <li>
                <a href=""></a>
            </li>
        </nav>
       <% } %> 
    </header>