<%- include('partials/header') -%>

    <div class="left-index">
        <span>World Pizza</span>
        <span>Your</span>
        <span>Pizza Review Hub</span>
    </div>

    <div class="right-index">

    </div>

<%- include('partials/footer') -%>