<%- include('partials/head') -%>
<div class="splash-container">
    <%- include('partials/header_splash') -%>
        <div class="splash-content">
            <h1>World Pizza</h1>
            <h2>Your</h2>
            <h2>Pizza Review Hub</h2>

            <div class="splash-buttons">
                <button><a href="/login">Log In</a></button>
                <button><a href="/signup">Sign Up</a></button>
            </div>
        </div>
    <%- include('partials/footer') -%>
</div>
