<%- include('partials/header') -%>

    <div class="left-index">
        <span>World Pizza</span>
        <span>Your</span>
        <span>Pizza Review Hub</span>
    </div>
    <form action="/create-user" method="POST">
    <label>
        User Name
        <input type="text" name="userName">
    </label>
    <label>
        Email
        <input type="text" name="email">
    </label>
    <label>
        Password
        <input type="password" name="password">
    </label>
    <button>Sign Up</button>
    </form>

    <a href="/login">Login</a>

    <div class="left-index">

    </div>

<%- include('partials/footer') -%>