<%- include('partials/header') -%>
    <div class="left-index">
        <h1>World Pizza</h1>
        <span>Your</span>
        <span>Pizza Review Hub</span>
    </div>

    <div class="left-index">
        
    </div>

<%- include('partials/footer') -%>