<%- include('partials/header') -%>
    <div class="left-index">
        <h1>World Pizza</h1>
        <span>Your</span>
        <span>Pizza Review Hub</span>
    </div>
    <form action="/login" method="POST">
    <label>
        Email
        <input type="text" name="email">
    </label>
    <label>
        Password
        <input type="password" name="password">
    </label>
    <button>Login</button>
    </form>

    <div class="left-index">
        
    </div>

<%- include('partials/footer') -%>