<%- include('partials/head') %> 
<div class="main-container">
    <%- include('partials/header_splash') -%>
    <div class="ls-container">
        <div class="left-index">
            <h1>World Pizza</h1>
            <h2>Your</h2><br>
            <h2>Pizza Review Hub</h2>
        </div>
        
        <div class="right-index">
            <form class="splash_form" action="/create-user" method="POST">
                <label>
                    User Name<br>
                    <input type="text" name="userName">
                </label><br><br>
                <label>
                    Email<br>
                    <input type="text" name="email">
                </label><br><br>
                <label>
                    Password<br>
                    <input type="password" name="password">
                </label>
                <button class="splash_button">Sign Up</button>
            </form>
            <hr/>
            <p>Already have an account? <a href="/login">Log In</a></p>
        </div>
    </div>
    <%- include('partials/footer') -%>
</div>