.pizza_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid orange;
  background: #fff;
}

#new-post-form {
  display: flex;
  flex-direction: column;
}

.contain-profile {
  text-align: center;
  padding: 2%;
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 10vh auto 0 auto;
}

.profile-greeting {
  padding: 0 2%;
  width: 40%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  background: cornflowerblue;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.form-container {
  max-width: 400px;
  min-width: 200px;
}

.grid-contain {
  padding: 2%;
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 10vh 10% 0 10%;
}

.grid {
  width: 100%;
  margin: 0 auto;
}

.grid-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 25%;
  padding: 0 5px;
}

.grid-item img {
  display: block;
  width: 100%;
  margin-bottom: 0;
}
.post-footer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  height: fit-content;
  background: orange;
}

.post-info-container {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-info-container * {
  margin: 0;
}
