* {
  box-sizing: border-box;
}



body {
  margin: 0;
  font-family: "Montserrat", sans-serif;

}

h1,
h2,
h3,
h4 {
  font-family: "Pacifico", cursive;
}

/* .container{
    display: flex;
    flex-direction: row;
    height:150%;
} */

header {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 2%;
  background: rgb(233, 106, 21);
  text-align: center;

}
header h1 {
  margin: 5px 0;
  font-size: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  width: 20%;
}

nav ul li {
  background: white;
  padding: 10px;
  border-radius: 5px;
  color: rgb(233, 106, 21);
  
}

li a {
  text-decoration: none;
  color: rgb(233, 106, 21);
  font-weight: 600;
}

.pizza_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid orange;
  background: #fff;
}