.container {
    display: flex;
    margin: 15% auto;
    width: 80%;
    border: 1px solid black;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border: 1px solid red;

}

.item img {
    width: 100%;
}

.button-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.pizza_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid orange;
  background: #fff;
}
